#grid{
    display: grid;
    grid-template-columns: 490px 450px;
    grid-template-rows: 80px min-content 400px 180px 60px;
    column-gap: 20px;
    row-gap:20px;
    grid-template-areas: 
    "HeaderLeft HeaderRight"
    "ContentLeft Navigation"
    "ContentLeft ContentRight"
    "Chrome ."
    "FooterLeft FooterRight";
    margin-top: 20px;
}

@mixin border(){
    border: 1px solid #999;
    border-radius: 4px;
    padding: 5px;
}

#HeaderLeft{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height:100%;
}
#HeaderRight{
    display: grid;
    grid-template-columns: minmax(min-content,2fr) minmax(min-content,1fr);
    align-content: end;
}

#Navigation{
    @include border();
    display: flex;
    justify-content: space-between;
}

#ContentLeft{
    @include border();
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 
    "Word Icons"
    "Visual Visual"
    "DefineButton UploadButton";
    #UploadButton{
        justify-self: right;
    }
    #Icons{
        justify-self: right;
        svg{
            margin: 5px;
        }
    }
}

#ContentRight{
    @include border();
    display: grid;
    grid-template-rows: 1fr 1fr 1fr min-content;
    justify-content: start;
}

@mixin footer(){
    font-size: 0.9em;
}

#FooterLeft{
    @include footer();
}

#FooterRight{
    @include footer();
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(2,25px);
    text-align: right;
    justify-content: end;
}